<!doctype html>
<html>
    <head>
      <title>Welcome to Whocares</title>
        <link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <style>
            body {padding-top:80px;}
        </style>
        
    </head>
    <body>
        <div class="conatiner">
          <div class="jumbotron text-center">
              
              <h1 style="color:#817ecc"><span class="fa fa-lock"></span>Connect To WhoCares</h1>
              <p>Login or Join Us </p>
              <a href="/login" class="btn btn-warning"><span class="fa fa-user"></span>Login</a>
               <a href="/signup" class="btn btn-success"><span class="fa fa-user"></span>Signup</a>
            </div>
        </div>
    </body>
</html>